<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for
            free.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--9 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Sign in with credentials</small>
          </div>
          <form role="form" [formGroup]="loginForm">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                </div>
                <input class="form-control" placeholder="Username" type="text" formControlName="username"
                  [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors}">
                <div *ngIf="submitted && loginForm.controls.username.errors" class="invalid-feedback pd-valid-form">
                  <div *ngIf="loginForm.controls.username.errors?.required" class="text text-danger pd-valid-form">
                    Username harus diisi
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors}">
                <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback pd-valid-form">
                  <div *ngIf="loginForm.controls.password.errors?.required" class="text text-danger pd-valid-form">
                    Password harus diisi.
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4" [disabled]="showLoader"
                [class.loader--text]="showLoader" (click)="login()"><span>{{ showLoader ? '' : 'Sign in' }}</span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
        </div>
        <div class="col-6 text-right">
          <a (click)="toRegister()" class="text-light"><small>Create new account</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
