<router-outlet></router-outlet>

<ngx-spinner name="spinnerAmbilData" bdOpacity="1" bdColor="rgba(0,61,121,0.78)" size="large" color="#ffffff"
  align="center" type="ball-running-dots" [fullScreen]="true">
  <p style="color: #ffffff; text-align: center"><br><br>Mengambil Data...</p>
</ngx-spinner>
