<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Dashboard Page</h1>
      </div>
    </div>
  </div>
</div>
