<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Merchant Omzet Outlet Tables</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Omzet Date</th>
                <th scope="col">Merchant Name</th>
                <th scope="col">Outlet Name</th>
                <th class="text-center" scope="col">Total Omzet</th>
              </tr>
            </thead>
            <tbody *ngIf="listMerchantOmzet.length > 0">
              <tr *ngFor="let item of listMerchantOmzet; let i=index">
                <td>
                  {{item?.omzet_date}}
                </td>
                <td>
                  {{item?.merchant_name}}
                </td>
                <td>
                  {{item?.outlet_name}}
                </td>
                <td class="text-center">
                  {{item?.omzet | currency:"Rp "}}
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="listMerchantOmzet.length <= 0">
              <tr>
                <td colspan="3" class="text-center">Tidak Menemukan Data Merchant Outlet Omzet</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item">
                <button class="page-link" (click)="prevPage()" [disabled]="page == 1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </button>
              </li>
              <li class="page-item" [ngClass]="{ 'active': page == (item_page + 1) }"
                *ngFor="let item_page of paging_number; let i=index">
                <a class="page-link" (click)="clickPage(item_page + 1)">{{item_page + 1}}</a>
              </li>
              <li class="page-item">
                <button class="page-link" (click)="nextPage()" [disabled]="page == this.total_page">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
